body {
    margin: 0;
}

.main{
    background-color: orange;
    height: 3000px;
}


.nav {
    background-color: blue;
    /*height: 50px; */
    width:100vw;
    text-align:center;
    /*line-height: 50px; */
    color: white;
    position: fixed;
    top: 0;
    z-index: 1;
}

.contact {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    line-height: 60px; 
    text-align: center;
    background-color: greenyellow;
    position: fixed;
    top:80vh;
    left:90vw;
    z-index: 2;
}

.content {
    margin: 50px 0 0;
}

.sticky {
    position: sticky;
    background-color: yellow;
    height: 50px;
    text-align: center;
    line-height: 50px;
    position: sticky;
    top: 50px;
    z-index: 1;

}

.tickets {
    background-color: black;
    color: white;
    width: 200px;
    height: 30px;
    border-radius : 10px;
    border: 1px dashed greenyellow;
    position: relative;
    text-align: center;
    line-height: 30px;
    

}

.sold {
    background-color: red;
    width: 100px;
    top: 0;
    line-height: 20px;
    position: absolute;
    top: 0;
    right: -35px;
    transform: rotate(30deg);
}

@media screen and (max-width: 1000px) {
    .nav {
        background-color: green;
    }
}